body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Roboto, Arial, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.container {
  justify-content: space-between;
  background-color: #1d2937;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.logo {
  gap: 10px;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
}

.about {
  padding: 100px;
  margin: 16px;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  text-align: left;
  margin-right: 50px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-img {
  display: block;
}

.hero-img img {
  width: 500px;
  height: 300px;
}

button {
  display: block;
  text-align: center;
  background-color: #3882f6;
  width: 150px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.information {
  flex-basis: 400px;
  padding: 32px;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #f9faf8;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding-bottom: 32px;
}

.info-container {
  padding: 32px;
  margin: 16px;
  gap: 16px;
}

.text {
  font-size: 18px;
}

.info {
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.info img {
  width: 100px;
  height: 100px;
}

.quotes {
  justify-content: center;
  padding: 100px;
  background-color: #e5e7eb;
}

.quotes-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1f2937;
  text-align: left;
  margin: 16px;
}

.quotes-owner {
  font-size: 24px;
  font-weight: bolder;
  color: #1f2937;
  text-align: right;
}

.action {
  background-color: #f9faf8;
  padding: 100px;
  align-items: center;
  justify-content: center;
}

.action-box {
  background-color: #3882f6;
  padding: 64px;
  border-radius: 8px;
}

.action-text {
  font-size: 18px;
  text-align: left;
  padding: 16px;
  color: #f9faf8;
}

.action-title {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.action-box button {
  border: 2px solid;
  border-color: #f9faf8;
  margin-left: 36px;
}

.footer {
  padding: 24px;
  justify-content: center;
  color: #f9faf8;
  font-size: 18px;
}
